<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация администратора</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/admin_register_style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Регистрация администратора</h1>
        <form action="{{ url_for('admin_register') }}" method="POST">
            <label for="first_name">Имя:</label>
            <input type="text" id="first_name" name="first_name"><br>
            <label for="last_name">Фамилия:</label>
            <input type="text" id="last_name" name="last_name"><br>
            <label for="dob">Дата Рождения:</label>
            <input type="date" id="dob" name="dob"><br>
            <label for="passport_number">Номер паспорта:</label>
            <input type="text" id="passport_number" name="passport_number"><br>
            <label for="gender">Пол:</label>
            <select id="gender" name="gender">
                <option value="male">Мужчина</option>
                <option value="female">Женщина</option>
            </select><br>
            <label for="username">Логин:</label>
            <input type="text" id="username" name="username"><br>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password"><br>
            <button type="submit">Зарегистрироваться</button>
        </form>
    </div>
</body>
</html>
