<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет администратора</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/admin_dashboard_style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Добро пожаловать, {{ username }}!</h1>
        <div class="buttons">
            <ul>
                <li><a href="#" onclick="openModal()">Создать Тариф</a></li>
                <li><a href="#">Поменять Тариф</a></li>
                <li><a href="#">Список Тарифов</a></li>
            </ul>
            <form action="/" method="GET">
                <button type="submit">Выйти с аккаунта</button>
            </form>
        </div>
    </div>

    <!-- Модальное окно -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h3>Создать Тариф</h3>
            <form id="create-tariff-form">
                <label for="gb">Сколько GB:</label>
                <input type="text" id="gb" name="gb" required><br>
                <label for="minute">Сколько минут:</label>
                <input type="text" id="minute" name="minute" required><br>
                <label for="cost_one_gb">Цена за 1 GB:</label>
                <input type="text" id="cost_one_gb" name="cost_one_gb" required><br>
                <label for="cost_one_minute">Цена за 1 минуту:</label>
                <input type="text" id="cost_one_minute" name="cost_one_minute" required><br>
                <label for="price">Общий прайс:</label>
                <input type="text" id="price" name="price" required><br>
                <button type="submit">Создать</button>
            </form>
        </div>
    </div>

    <script src="/static/scripts/create_tariff_modal_script.js"></script>
</body>
</html>
